ion-tab-button{
    color: rgb(21, 6, 104);
    ion-icon{
        font-family: sans-serif;
        color: rgb(7, 144, 223);
    }
}

ion-tab-bar{
    border-radius: 0.7;
    border-top: 1px rgb(124, 238, 213) solid;
}

ion-tabs{
    background-color: rgb(64, 90, 238);
}